<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <%= csrf_meta_tags %>
  </head>

  <%= render 'lists/navbar' %>
  <body>
  	<div class="container">
      <%= render 'flash' %>
    	<%= yield %>
    </div>
  </body>
</html>
